{
  "reason": "${reason}",
  "title": "${title}",
  "startTimeInSeconds": 1672531200,
  "endTimeInSeconds": 4070908800,
  "relevantCustomerTags": [
    "${tag}"
  ],
  "relevantHostNames": [],
  "relevantHostTags": [],
  "relevantCustomerTagsAnded": false,
  "relevantHostTagsAnded": false,
  "hostTagGroupHostNamesGroupAnded": false,
  "pointTagFilter": "",
  "pointTagFilterAnded": false
}