WAPI Automation has created this pull request on behalf of ${author}.\nAll questions should be directed to ${author}.\n\n ${REPO_tracker_issueTagPrefix} link is ${REPO_tracker_url}/${issueKey}\n\n Working copy of the ${msgType} ${msgID} is located at the following Link.\n ${CONF_aria_operationsUrl}/${msgType}/${msgID} \n\n Published copy of the ${msgType} ${msgIDpublished} is located at the following Link.\n ${CONF_aria_operationsUrl}/${msgType}/${msgIDpublished}