del(.lastEventTime) | del(.severity) | del(.minutes) | del(.createdEpochMillis) | del(.updatedEpochMillis) | del(.status) | del(.event) | del(.created) | del(.createUserId) | del(.updated) | del(.updateUserId) | del(.lastProcessedMillis) | del(.pointsScannedAtLastQuery) | del(.lastQueryTime) | del(.creatorId) | del(.updaterId) | del(.failingHostLabelPairs) | del(.prefiringHostLabelPairs) | del(.lastNotificationMillis) | del(.alertsLastDay) | del(.alertsLastWeek) | del(.alertsLastMonth) | del(.numPointsInFailureFrame) | del(.failingHostLabelPairLinks) | del(.acl)