del(.disableRefreshInLiveMode) | \
del(.hideChartWarning) | \
del(.creatorId) | \
del(.updaterId) | \
del(.createdEpochMillis) | \
del(.updatedEpochMillis) | \
del(.deleted) | \
del(.numCharts) | \
del(.numFavorites) | \
del(.favorite)