{
  "limit": 1000,
  "offset": 0,
  "query": [
    {
      "key": "tags.customerTags",
      "value": "string",
      "values": [
        "${tag}"
      ],
      "matchingMethod": "CONTAINS",
      "negated": false,
      "start": 0,
      "end": 0
    }
  ],
  "sort\": {
    "ascending": true,
    "field": "id"
  }
}