{
  "limit": 1000,
  "offset": 0,
  "query": [
    {
      "key": "name",
      "value": "string",
      "values": [
        "${name}"
      ],
      "negated": false,
      "start": 0,
      "end": 0
    }
  ]
}